* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 20px;
  font-size: 2rem;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  background-color: #b30f0f3a;
  box-shadow: 0px 0px 10px 5px #000;
  margin-bottom: 100px;
}

button {
  border: 0ch;
  background: transparent;
}

button:hover {
  transition-duration: 0.2s;
  transform: scale(1.05);
}

button {
  padding: 20px 50px;
  flex: 0 1 auto;
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
